%section.highlighted-subs

  %h1.highlighted-subs__title Highlighted Subs
  %ul.highlighted-subs__list
    - @highlighted_subs.each do |sub|
      %a{ :href => sub_path(sub) }
        %li.demo-card-image.mdl-card.mdl-shadow--2dp{ :style => "background-image: url('#{url_for(sub.background_pic)}')" }
          %span.demo-card-image__subname= sub.name 

%hr
