%section.highlighted-subs

  %h2.highlighted-subs__title Highlighted Subs
  %ul.highlighted-subs__list
    - @highlighted_subs.each do |sub|
      %a{ :href => sub_path(sub) }
        %li.demo-card-image.mdl-card.mdl-shadow--2dp{ :style => "background-image: url('#{url_for(sub.background_pic)}')" }
          %span.demo-card-image__subname= sub.name 

%hr

- if current_user
  %section.feed
    %h2.feed__title My feed
    %div= @my_feed_posts
    
    %a{ :href => "#" } See more
