.comments {
  padding: 0 2rem;

  &__comment-block {
    display: flex;
    width: 90%;
    padding: 2rem;
    margin: 2rem 0;
    border: 1px dashed #000;

    @media (max-width: 576px) {
      padding: 1rem;
      flex-flow: column;
    }
  }

  &__author-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 2rem;

    strong {
      margin-top: 1rem;
    }
  }

  &__author-avatar {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 0 #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 576px) {
      width: 100px;
      height: 100px;
    }
  }

  .trix-content {
    font-size: 1.5rem;

    @media (max-width: 576px) {
      text-align: center;
    }
  }
}
