// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title {
	color: #fff;
	text-decoration: none;
}

.highlighted-subs {
	padding: 2rem;

	&__list {
		padding: 0;
		display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    grid-gap: 2rem;
    justify-content: center;
	}
}

.demo-card-image.mdl-card {
	width: 256px;
	height: 256px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;

	transition: 0.3s;

	&:hover {
		filter: brightness(1.5);
	}
}

.demo-card-image__subname {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 40px;
}

.feed {
	padding: 2rem;
}
