// Place all the styles related to the subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./utilities";

.sub-banner {
	width: 100vw;
	height: px-to-rem(300);
	background-size: cover;
	background-position: center;
}

.sub-name {
	font-size: 3rem;
	padding: 1rem;
	margin: 2rem 0;
	display: block;
	color: #000;
	text-decoration: none;
	width: px-to-rem(250);
}
